<h1>Products</h1>
<p class="lead">{{list_heading or "Buy these amazing products"}}!</p>
<div class='card-deck mt-5'>
{% for item in items %}
<a href="/item-detail/?name={{item.name}}" class="card mb-4">
    <img class="card-img-top greyscale mx-auto" src="{{item.image}}" alt="">
    <div class="card-body">
        <h5>{{item.name}}</h5>
        <div class="text-muted">{{item.currency or "USD"}} {{item.price}}</div>
    </div>
</a>
{% if loop.index is divisibleby 3 %}
</div>
<div class='card-deck'>
{% endif %}
{% endfor %}
</div>
