<div class='card-deck mt-5'>
{% for item in items %}
<a href="/item-detail/?name={{item.name}}" class="card mb-4">
    <img class="card-img-top greyscale mx-auto" src="{{item.image}}" alt="">
    <div class="card-body">
        <h5>{{item.name}}</h5>
        <div class="text-muted">{{item.currency or "USD"}} {{item.price}}</div>
        <div class="text-muted">{{item.reviews_count or 0}} reviews</div>
        <div class="text-muted">Sold by {{item.company_name}}</div>
        <div class="text-muted">{% if item.stock_qty > 0 %}In stock{% else %}Not Available{% endif %}</div>
    </div>
</a>
{% if loop.index is divisibleby 3 %}
</div>
<div class='card-deck'>
{% endif %}
{% endfor %}
</div>
