{% extends "templates/web.html" %}
{% block page_content %}
<section class="top-section after-splash">
    <div class="container">
        {% for cat in cats %}
            {% if cat.child_items|length > 0 %}
            <h2>{{cat.name}}</h2>
            <ul class="list-group">
              {% for ci in cat.child_items %}
              <li class="list-group-item disabled"><a href="/category-products/?category_name={{ci.name}}">{{ci.name}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
