{% extends "templates/web.html" %}
{% block page_content %}
{% if items|length > 0 %}
<section class='section-padding splash'
    style='background-image: url({{items.0.image}})'>
</section>
{% endif %}
<section class="top-section after-splash">
    <div class="container">
        {% include "templates/includes/hub-items.html" %}
    </div>
</section>

{% if paginator.has_prev_page or paginator.has_next_page %}
<div class="container">
    <nav aria-label="Products pages">
        <ul class="pagination">
            {% if paginator.has_prev_page %}
            <li class="page-item"><a class="page-link" href="/company-products/?company_name={{company_name}}&page_number={{paginator.page_number - 1}}">Previous</a></li>
            {% endif %}
            {% if paginator.has_prev_page and paginator.has_next_page %}
            <li class="page-item"><a class="page-link" href="">{{paginator.page_number}}</a></li>
            {% endif %}
            {% if paginator.has_next_page %}
            <li class="page-item"><a class="page-link" href="/company-products/?company_name={{company_name}}&page_number={{paginator.page_number + 1}}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{% endblock %}
