{% extends "templates/web.html" %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!--product image-->
            <img src="{{company.company_logo}}" alt="{{company.name}}" class="img-polaroid"/>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">
            <h2>{{company.name}}</h2>
            {% if company.city or company.country %}<h4 class="muted">{% if company.city %}{{company.city}}{% endif %}{% if company.city and company.country %}, {% endif %}{% if company.country %}{{company.country}}{% endif %}</h4>{% endif %}
            {% if company.description %}<p>{{company.description}}</p>{% endif %}
            <hr>
            {% if num_items %}<p><a href="/company-products/?company_name={{company.name}}">Sells {{num_items}} items</a></p>{% endif %}
            {% if company.site_name %}<p class="muted"><a href="http://{{company.site_name}}" target="_blank">{{company.site_name}}</a></p>{% endif %}
        </div>
    </div>

    {#
    <div class="row banner">
        <div class="span12">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item"><img src="{{latest_products.0.image}}" alt="Slide 1" /></div>
                    <div class="item"><img src="{{latest_products.1.image}}" alt="Slide 2" /></div>
                    <div class="item"><img src="{{latest_products.2.image}}" alt="Slide 3" /></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
    #}

</div>
{% endblock %}

