{% extends "templates/web.html" %}

{% block title %}Marketplace{% endblock %}

{% block content %}
<link rel="stylesheet" href="/assets/css/marketplace.css">
<style>
    .layout-side-section {
        font-size: 12px;
    }
</style>

<section class="row marketplace-container">
    <div class="layout-side-section col-md-2">
    </div>
    <main class="layout-main-section col-md-10">
    </main>
</section>
{% endblock %}
{% block body_include %}
<script defer src="/assets/js/control.min.js"></script>
<script defer src="/assets/js/marketplace-deps.min.js"></script>
{% endblock %}