{% extends "templates/web.html" %}

{% block title %}Hub Market{% endblock %}

{% block page_content %}

<section class='top-section after-splash'>
    <div class="container">
        <h1>Hub Market</h1>
        <p class='lead'>Discover products</p>
    </div>
</section>
<section>
    <div class="container">
        <div class="text-center">
            <h2>Items</h2>
        </div>
        {% for doc in items %}
            {% include 'hub/doctype/hub_item/templates/hub_item_row.html'  %}
        {% endfor %}
        </div>
	</div>
</section>

{% endblock %}
