{% extends "templates/web.html" %}
{% block title %}Products{% endblock %}
{% block page_content %}
<section class='section-padding splash'
    style='background-image: url({{items.0.image}})'>
</section>
<section class="top-section after-splash">
    <div class="container">
        {% include "templates/includes/hub-items.html" %}
    </div>
</section>

{% if paginator.has_prev_page or paginator.has_next_page %}
<div class="container">
    <nav aria-label="Products pages">
        <ul class="pagination">
            <li class="page-item {% if not paginator.has_prev_page %}disabled{% endif %}"><a class="page-link" href="/item-listing/?page_number={{paginator.page_number - 1}}">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="">{{paginator.page_number}}</a></li>
            <li class="page-item {% if not paginator.has_next_page %}disabled{% endif %}"><a class="page-link" href="/item-listing/?page_number={{paginator.page_number + 1}}">Next</a></li>
        </ul>
    </nav>
</div>
{% endif %}
{% endblock %}
