{% extends "templates/web.html" %}
{% block page_content %}
<div class="container">
    <p class="lead">{{item.name}}</p>
    <div class="row">
        <div class="col-sm-4">
            <img src="{{item.image}}"/>
        </div>
        <div class="col-sm-8">
            {{item.currency}} {{item.price}}<br/>
            {{item.description}}<br/>
            {{item.reviews|len}} reviews<br/>
            <a href="/company-products/?company_name={{item.company_name}}">{{item.company_name}}</a>
        </div>
    </div>
</div>
{% endblock %}
